.footer{
    margin-top: 90px;
    color: white;
}
.container img{
    width: 100px;
    height: 75px;
}
@media(max-width:1337px){
    .container{
        padding: 20px;
    }
}
@media(max-width:1023px){
    .container{
        padding: 20px 40px 20px 40px;
    }
}
@media(max-width:425px){
    .footer{
        margin-top: 70px;
    }

}